* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fonte-geral: font-family: "Inter", sans-serif;
}

body {
  font-family: var(--fonte-geral);
  display: flex;
  flex-direction: column;
  width: calc(100vw-100px);
  height: calc(100vh-40px);
  align-items: center;
  gap: 20px;
  padding: 20px 50px;
  background-color: #fcfbfa;
}

#caixa {
  font-family: "Exo 2", sans-serif;
  width: 500px;
  font-size: 20px;
}

.container, 
.container__radio {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  border: solid 1px transparent;
  padding: 20px 80px;
  box-shadow: 1px 1px 2px 3px rgba(0, 0, 0, 0.2);
  font-size: 25px;
}

.container__radio {
  border-radius: 20px;
  width: 80vw;
  padding: 10px 30px;
}

label:hover {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.botaoRadio {
  cursor: pointer;
}

.container__botoes__Secundarios {
  display: flex;
  justify-content: space-between;
  width: 35%;
  height: 80px;
  border: solid 1px transparent;
  padding: 10px 50px;
  box-shadow: 1px 1px 2px 3px rgba(0, 0, 0, 0.2);
}

#valor {
  font-family: var(--fonte-geral);
  border: 0 solid transparent;
  background-color: #fcfbfa;
  text-align: center;
  width: 70%;
  margin: 0 20px;
  font-size: 20px;
}

.container-botoes-imagem{
  background: none; 
  border: none; 
  padding: 0; 
  cursor: pointer;
}

img{
  width: 50px;
}

img:hover {
  width: 55px;
}

.container-botoes {
  font-family: var(--fonte-geral);
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #cfdbbf;
  transition: 0.5s;
}

.container-botoes:hover {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #ddeccb;
}

.container-botoes:active {
  background-color: #ff9900; /* ou a cor que quiser */
}

.container__porcentagem {
  display: flex;
  justify-content: center;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  width: 30vw;
  border: solid 2px #000;
  border-radius: 20px;
  padding: 30px 30px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

#porcentagem {
  font-family: "Orbitron", sans-serif;
  font-size: 35px;
}

.container__resposta {
  display: none;
  color: red;
/*  width: 30vw;*/
  border: solid 2px #000;
  margin: 20px;
  font-size: 20px;
}

#total_itens {
  display: none;
  width: 100%;
  background-color: #000;
  color: #fff;
  font-size: 25px;
  font-style: italic;
}

#resposta, #total_itens {
  font-family: var(--fonte-geral);
  padding: 10px 10px 0 10px;
}